<section class="panel">
  <div class="intro color2">
    <h2 class="major">Gram-Schmidt process</h2>
    <p>
      The Gram-Schmidt process plays a crucial role in both theoretical aspects
      of linear algebra and practical applications in machine learning, where it
      is used to manipulate and analyze high-dimensional data effectively. It
      enables researchers and practitioners to extract meaningful information
      from complex datasets and build robust machine-learning models.
    </p>
  </div>
  <div class="gallery">
    <div class="group">
      <iframe
        src="components/GramSchmidtProcess.html"
        class="image filtered"
        data-position="top"
        width="100%"
        height="600px"
      ></iframe>
    </div>
  </div>
</section>
