<section class="panel">
  <div class="intro color2">
    <h2 class="major">The Sandpit</h2>
    <p>
      By exploring different scenarios in the sandpit and experimenting with
      optimization strategies, I developed problem-solving skills that are
      valuable in both optimization tasks and machine learning applications.
      Additionally, understanding the challenges posed by different scenarios in
      the sandpit helped me develop more robust optimization algorithms and
      strategies for tackling real-world problems.
    </p>
  </div>
  <div class="gallery">
    <div class="group">
      <iframe
        src="components/theSandpit.html"
        class="image filtered"
        data-position="top"
        width="100%"
        height="600px"
      ></iframe>
    </div>
  </div>
</section>
