<section class="panel spotlight medium right" id="first">
  <div class="content span-7">
    <h2 class="major">To achieve this, I undertook the following steps:</h2>
    <ol>
      <li>
        Utilized linear algebra to compute the page rank of a simulated
        internet, exploring vectors and matrices extensively. This included
        tackling the intricate concepts of eigenvalues and eigenvectors to
        address various problems. Additionally, I applied these principles to
        manipulate datasets creatively, such as rotating images of faces and
        analyzing eigenvectors to gain insights into the PageRank algorithm.
      </li>
      <li>
        Employed multivariate calculus to construct and train a neural network
        from scratch, facilitating a deeper understanding of its functioning and
        training process.
      </li>
      <li>
        Conducted a non-linear least squares regression to effectively model a
        dataset, showcasing the application of mathematical optimization
        techniques in fitting complex models to empirical data.
      </li>
      <li>
        Explored the geometric properties of vectors by computing distances, and
        angles, and performing orthogonal projections onto lower-dimensional
        subspaces using inner products.
      </li>
      <li>
        Subsequently, I derived Principal Component Analysis (PCA) to minimize
        the average squared reconstruction error between data points and their
        projections, thereby revealing underlying patterns and reducing data
        dimensionality effectively.
      </li>
    </ol>
  </div>
  <div class="image filtered tinted" data-position="top left">
    <img src="images/pic01.jpg" alt="" />
  </div>
</section>
