<section class="panel">
  <div class="intro color2">
    <h2 class="major">Reflecting Bear</h2>
    <p>
      By writing a function to construct a reflection matrix for arbitrary
      mirror angles, we enable applications in various fields, including
      computer graphics, computer vision, robotics, and geometric modeling. This
      capability allows us to perform geometric transformations accurately and
      efficiently, contributing to the development of advanced algorithms and
      applications in these domains.
    </p>
  </div>
  <div class="gallery group">
    <iframe
      src="components/ReflectingBear.html"
      class="image filtered span-2-5"
      data-position="top"
      width="100%"
      height="600px"
    ></iframe>
  </div>
</section>
