<section class="panel">
  <div class="intro color2">
    <h2 class="major">PageRank</h2>
    <p>
      By developing a function to calculate PageRank, we enable applications in
      web search, recommendation systems, and network analysis, contributing to
      the advancement of information retrieval and machine learning
      technologies. The ability to analyze large-scale networks and extract
      meaningful insights from them is essential in various fields, including
      internet technologies, social media analytics, and e-commerce platforms.
    </p>
  </div>
  <div class="gallery">
    <div class="group">
      <iframe
        src="components/PageRank.html"
        class="image filtered"
        data-position="top"
        width="100%"
        height="600px"
      ></iframe>
    </div>
  </div>
</section>
